<a href="https://colab.research.google.com/github/sahupra1357/FeatureEngineering/blob/main/FeatureSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"pradeepsahu1357","key":"b78a1773d2ce934ad103512a70ef714f"}'}

In [3]:
!pip install -U -q kaggle==1.5.8

In [4]:
!mkdir -p ~/.kaggle

In [5]:
!cp kaggle.json ~/.kaggle/

In [6]:
!ls

kaggle.json  sample_data

In [7]:
!chmod 600 ~/.kaggle/kaggle.json

In [8]:
!kaggle competitions download -c home-credit-default-risk

Downloading home-credit-default-risk.zip to /content
100% 686M/688M [00:06<00:00, 143MB/s]
100% 688M/688M [00:06<00:00, 104MB/s]

In [9]:
!ls

home-credit-default-risk.zip  kaggle.json  sample_data

In [10]:
!unzip home-credit-default-risk.zip -d input

Archive:  home-credit-default-risk.zip
  inflating: home-credit-default-risk/HomeCredit_columns_description.csv
  inflating: home-credit-default-risk/POS_CASH_balance.csv
  inflating: home-credit-default-risk/application_test.csv
  inflating: home-credit-default-risk/application_train.csv
  inflating: home-credit-default-risk/bureau.csv
  inflating: home-credit-default-risk/bureau_balance.csv
  inflating: home-credit-default-risk/credit_card_balance.csv
  inflating: home-credit-default-risk/installments_payments.csv
  inflating: home-credit-default-risk/previous_application.csv
  inflating: home-credit-default-risk/sample_submission.csv

In [11]:
!ls

home-credit-default-risk      kaggle.json
home-credit-default-risk.zip  sample_data

In [13]:
!ls -lrt home-credit-default-risk

total 2621388
-rw-r--r-- 1 root root     37383 Dec 11  2019 HomeCredit_columns_description.csv
-rw-r--r-- 1 root root 392703158 Dec 11  2019 POS_CASH_balance.csv
-rw-r--r-- 1 root root  26567651 Dec 11  2019 application_test.csv
-rw-r--r-- 1 root root 166133370 Dec 11  2019 application_train.csv
-rw-r--r-- 1 root root 170016717 Dec 11  2019 bureau.csv
-rw-r--r-- 1 root root 375592889 Dec 11  2019 bureau_balance.csv
-rw-r--r-- 1 root root 424582605 Dec 11  2019 credit_card_balance.csv
-rw-r--r-- 1 root root 723118349 Dec 11  2019 installments_payments.csv
-rw-r--r-- 1 root root 404973293 Dec 11  2019 previous_application.csv
-rw-r--r-- 1 root root    536202 Dec 11  2019 sample_submission.csv

Code from here

In [14]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# List files available
print(os.listdir("home-credit-default-risk"))

['credit_card_balance.csv', 'bureau.csv', 'HomeCredit_columns_description.csv', 'installments_payments.csv', 'application_test.csv', 'bureau_balance.csv', 'application_train.csv', 'sample_submission.csv', 'POS_CASH_balance.csv', 'previous_application.csv']

In [18]:
# Training data
app_train = pd.read_csv('home-credit-default-risk/application_train.csv')
print('Training data shape: ', app_train.shape)
app_train.head()

Training data shape:  (307511, 122)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]