<a href="https://colab.research.google.com/github/sahupra1357/FeatureEngineering/blob/main/FeatureSelctionMelbornHousing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Melbourne_housing_FULL.csv to Melbourne_housing_FULL.csv

In [ ]:
!ls

Melbourne_housing_FULL.csv  sample_data

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
melb_data = pd.read_csv('Melbourne_housing_FULL.csv')

In [ ]:
melb_data.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
melb_data.shape

(34857, 21)

In [ ]:
melb_data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [ ]:
empty_col_cells = melb_data.isnull().sum().sort_values(ascending=False)
empty_col_cells.head()

BuildingArea    21115
YearBuilt       19306
Landsize        11810
Car              8728
Bathroom         8226
dtype: int64

In [ ]:
(melb_data.isnull().sum()/melb_data.shape[0]).sort_values(ascending=False)

BuildingArea     0.605761
YearBuilt        0.553863
Landsize         0.338813
Car              0.250394
Bathroom         0.235993
Bedroom2         0.235735
Longtitude       0.228821
Lattitude        0.228821
Price            0.218321
Regionname       0.000086
Propertycount    0.000086
CouncilArea      0.000086
Postcode         0.000029
Distance         0.000029
Date             0.000000
SellerG          0.000000
Method           0.000000
Type             0.000000
Rooms            0.000000
Address          0.000000
Suburb           0.000000
dtype: float64

In [ ]:
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].head()

   BuildingArea  YearBuilt  Landsize  Car
0           NaN        NaN     126.0  1.0
1           NaN        NaN     202.0  1.0
2          79.0     1900.0     156.0  0.0
3           NaN        NaN       0.0  1.0
4         150.0     1900.0     134.0  0.0

In [ ]:
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].isnull().sum()

BuildingArea    21115
YearBuilt       19306
Landsize        11810
Car              8728
dtype: int64

In [ ]:
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].describe()

       BuildingArea     YearBuilt       Landsize           Car
count   13742.00000  15551.000000   23047.000000  26129.000000
mean      160.25640   1965.289885     593.598993      1.728845
std       401.26706     37.328178    3398.841946      1.010771
min         0.00000   1196.000000       0.000000      0.000000
25%       102.00000   1940.000000     224.000000      1.000000
50%       136.00000   1970.000000     521.000000      2.000000
75%       188.00000   2000.000000     670.000000      2.000000
max     44515.00000   2106.000000  433014.000000     26.000000

In [ ]:
melb_data['Car'] = melb_data['Car'].fillna(melb_data['Car'].median())
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].describe()

       BuildingArea     YearBuilt       Landsize           Car
count   13742.00000  15551.000000   23047.000000  34857.000000
mean      160.25640   1965.289885     593.598993      1.796741
std       401.26706     37.328178    3398.841946      0.882969
min         0.00000   1196.000000       0.000000      0.000000
25%       102.00000   1940.000000     224.000000      1.000000
50%       136.00000   1970.000000     521.000000      2.000000
75%       188.00000   2000.000000     670.000000      2.000000
max     44515.00000   2106.000000  433014.000000     26.000000

In [ ]:
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].isnull().sum()

BuildingArea    21115
YearBuilt       19306
Landsize        11810
Car                 0
dtype: int64

In [ ]:
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].tail()

       BuildingArea  YearBuilt  Landsize  Car
34852           NaN        NaN     593.0  3.0
34853         104.0     2018.0      98.0  1.0
34854         120.0     2000.0     220.0  2.0
34855           NaN        NaN       NaN  2.0
34856         103.0     1930.0     250.0  0.0

In [ ]:
melb_data['Landsize'] = melb_data['Landsize'].fillna(melb_data['Landsize'].median())
melb_data[['BuildingArea','YearBuilt','Landsize','Car']].describe()

       BuildingArea     YearBuilt       Landsize           Car
count   13742.00000  15551.000000   34857.000000  34857.000000
mean      160.25640   1965.289885     569.001520      1.796741
std       401.26706     37.328178    2763.907731      0.882969
min         0.00000   1196.000000       0.000000      0.000000
25%       102.00000   1940.000000     357.000000      1.000000
50%       136.00000   1970.000000     521.000000      2.000000
75%       188.00000   2000.000000     598.000000      2.000000
max     44515.00000   2106.000000  433014.000000     26.000000

In [ ]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
melb_data.dropna(thresh=int(melb_data.shape[0] * 0.9), axis=1, inplace=True)

In [ ]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Car', 'Landsize', 'CouncilArea', 'Regionname',
       'Propertycount'],
      dtype='object')

In [ ]:
melb_data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Method           0
SellerG          0
Date             0
Distance         1
Postcode         1
Car              0
Landsize         0
CouncilArea      3
Regionname       3
Propertycount    3
dtype: int64

In [ ]:
melb_data.to_csv('melb_data_processed.csv', index=False)

In [ ]:
!ls

melb_data_processed.csv  Melbourne_housing_FULL.csv  sample_data

**Work on Non Corelated features**

In [ ]:
melb_data.describe().transpose().round(2)

                 count     mean      std  ...     50%      75%       max
Rooms          34857.0     3.03     0.97  ...     3.0      4.0      16.0
Distance       34856.0    11.18     6.79  ...    10.3     14.0      48.1
Postcode       34856.0  3116.06   109.02  ...  3103.0   3156.0    3978.0
Car            34857.0     1.80     0.88  ...     2.0      2.0      26.0
Landsize       34857.0   569.00  2763.91  ...   521.0    598.0  433014.0
Propertycount  34854.0  7572.89  4428.09  ...  6763.0  10412.0   21650.0

[6 rows x 8 columns]